:root {
  --js-header-height: 0;
}

* {
  scroll-margin-top: var(--js-header-height);
}

.heading-margin {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.header {
  z-index: 9999;
  position: sticky;
  width: 100%;
  top: 0;
}

.font-size-title {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .font-size-title {
    font-size: 2rem;
  }
}

.wristband-code {
  transform: rotate(90deg);
}

.translate-target {
  transition: transform 1s;
}

.translate-1 {
  transform: translate(0rem);
}

.translate-2 {
  transform: translate(-40rem);
}

.translate-reset.active-wristband .translate-target,
.translate-reset:hover .translate-target,
.translate-reset:focus .translate-target {
  transform: translate(-10rem);
}

.content-area {
  padding: 2rem;
}

@media (min-width: 1024px) {
  .content-area {
    padding: 6rem;
  }
}

.content-area-closed {
  display: none;
}

.content-area-open {
  display: flex;
}

.team-img {
  padding-left: var(--size-200);
}

.team-member-name {
  font-size: 2rem;
}

.contact-label {
  font-size: 9pt;
}

.contact-icon {
  font-size: 3rem;
}

@media (min-width: 1024px) {
  .contact-label {
    font-size: var(--font-size-body);
  }

  .contact-icon {
    font-size: 7rem;
  }
}

.nav {
  width: 100%;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.nav > a {
  padding: var(--size-300);
  padding-left: 4rem;
  padding-right: 4rem;
  border-left: 1px solid var(--color-black);
}

.nav > a:hover,
.active-nav-link {
  background-color: var(--color-black);
  color: var(--color-white);
}

.nav > a:last-child {
  border-right: 1px solid var(--color-black);
}
