/* ================ */
/* Variables        */
/* ================ */

:root {
  --color-lemon: rgb(229, 248, 18);
  --color-cerise: rgb(246, 17, 100);
  --color-blue: rgb(15, 87, 247);
  --color-darkgrey: rgb(94, 94, 94);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(245, 245, 245);
  --size-50: 0.25rem;
  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.25rem;
  --font-size-body: 12pt;
  --font-size-big: 24pt;
}

@media (min-width: 1024px) {
  :root {
    --font-size-body: 14pt;
    --font-size-big: 36pt;
    --header-height: 7rem;
  }
}

@media (min-width: 1920px) {
  :root {
    --font-size-body: 17pt;
    --font-size-big: 60pt;
  }
}

/* ================ */
/* Global selectors */
/* ================ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--font-size-body);
  line-height: 1.25;
  background-color: black;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
  max-width: 100vw;
}

a {
  color: currentColor;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

li {
  list-style: square;
  list-style-position: inside;
}

ul,
p,
q {
  display: block;
  line-height: 2;
}

ul + q,
p + p {
  margin-top: var(--size-400);
}

/* =============== */
/* Colors          */
/* =============== */

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-cerise {
  background-color: var(--color-cerise);
}

.bg-lemon {
  background-color: var(--color-lemon);
}

.bg-blue {
  background-color: var(--color-blue);
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.darkgrey {
  color: var(--color-darkgrey);
}

/* =============== */
/* Sizes           */
/* =============== */

.p0 {
  padding: 0;
}
.p50 {
  padding: var(--size-50);
}
.p100 {
  padding: var(--size-100);
}
.p200 {
  padding: var(--size-200);
}
.p300 {
  padding: var(--size-300);
}
.p400 {
  padding: var(--size-400);
}

.m0 {
  margin: 0;
}
.m50 {
  margin: var(--size-50);
}
.m100 {
  margin: var(--size-100);
}
.m200 {
  margin: var(--size-200);
}
.m300 {
  margin: var(--size-300);
}
.m400 {
  margin: var(--size-400);
}

.mb0 {
  margin-bottom: 0;
}
.mb50 {
  margin-bottom: var(--size-50);
}
.mb100 {
  margin-bottom: var(--size-100);
}
.mb200 {
  margin-bottom: var(--size-200);
}
.mb300 {
  margin-bottom: var(--size-300);
}
.mb400 {
  margin-bottom: var(--size-400);
}

.mt0 {
  margin-top: 0;
}
.mt50 {
  margin-top: var(--size-50);
}
.mt100 {
  margin-top: var(--size-100);
}
.mt200 {
  margin-top: var(--size-200);
}
.mt300 {
  margin-top: var(--size-300);
}
.mt400 {
  margin-top: var(--size-400);
}

/* =============== */
/* Layout          */
/* =============== */

.none {
  display: none;
}

.block {
  display: block;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.gap0 {
  gap: 0;
}
.gap50 {
  gap: var(--size-50);
}
.gap100 {
  gap: var(--size-100);
}
.gap200 {
  gap: var(--size-200);
}
.gap300 {
  gap: var(--size-300);
}
.gap400 {
  gap: var(--size-400);
}

.w100 {
  width: 100%;
}

@media (min-width: 1024px) {
  .md\:block {
    display: block;
  }

  .md\:flex-column {
    display: flex;
    flex-direction: column;
  }

  .md\:flex-row {
    display: flex;
    flex-direction: row;
  }
}

/* =============== */
/* Fonts           */
/* =============== */

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) */

@font-face {
  font-family: "miedinger-light";
  src: url("./fonts/miedinger_light_w00_regular-webfont.woff2") format("woff2"),
    url("./fonts/miedinger_light_w00_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "miedinger";
  src: url("./fonts/miedinger_medium_w00_regular-webfont.woff2") format("woff2"),
    url("./fonts/miedinger_medium_w00_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "miedinger-thin";
  src: url("./fonts/miedinger_thin_w00_regular-webfont.woff2") format("woff2"),
    url("./fonts/miedinger_thin_w00_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "miedinger-bold";
  src: url("./fonts/miedinger_w01_bold-webfont.woff2") format("woff2"),
    url("./fonts/miedinger_w01_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.mie {
  font-family: "miedinger", sans-serif;
}

.mie-bold {
  font-family: "miedinger-bold", sans-serif;
}

.mie-light {
  font-family: "miedinger-light", sans-serif;
}

.mie-thin {
  font-family: "miedinger-thin", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.text-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.link,
.link:hover,
.link:focus {
  text-decoration: underline;
}

.font-size-body {
  font-size: var(--font-size-body);
}

.font-size-big {
  font-size: var(--font-size-big);
}

.font-size-small {
  font-size: small;
}

.monospace {
  font-family: monospace;
}

.pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}
