:root {
  --color-lemon: rgb(229, 248, 18);
  --color-cerise: rgb(246, 17, 100);
  --color-blue: rgb(15, 87, 247);
  --size-50: 0.25rem;
  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.25rem;
  --header-height: 7rem;
}

a {
  color: currentColor;
}

a:hover,
a:focus {
  text-decoration: underline;
}

li {
  list-style: square;
  list-style-position: inside;
}

p + p {
  margin-top: var(--size-400);
}

.mie {
  font-family: "miedinger";
}

.mie-bold {
  font-family: "miedinger-bold";
}

.mie-light {
  font-family: "miedinger-light";
}

.underline {
  text-decoration: underline;
}

.header {
  background-color: var(--color-lemon);
  padding: var(--size-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-200);
  position: sticky;
  top: 0;
  height: var(--header-height);
}

section {
  scroll-margin-top: var(--header-height);
}

.header-decoration {
  display: none;
}

@media (min-width: 880px) {
  .header-decoration {
    display: block;
    max-width: 10rem;
  }
}

.footer {
  color: rgb(78, 78, 78);
  text-align: center;
  font-size: small;
  padding: var(--size-100);
}

@media (min-width: 880px) {
  .header {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

.title {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
  font-size: 1.5rem;
  gap: 0.1rem;
}

.wristband {
  display: flex;
  cursor: pointer;
  user-select: none;
}

.wristband-glue {
  display: none;
}

@media (min-width: 880px) {
  .wristband-glue {
    display: flex;
    background-color: white;
    color: black;
    min-width: 10rem;
    justify-content: space-between;
    align-items: center;
  }
}

.wristband-code {
  transform: rotate(90deg);
}

.wristband-heading {
  display: flex;
  flex-direction: column;
  gap: var(--size-50);
}

@media (min-width: 880px) {
  .wristband {
    min-width: 55rem;
  }

  .wristband-heading {
    flex-direction: row;
    align-items: center;
    gap: var(--size-100);
  }
}

.wristband-heading-subtitle {
  font-size: 0.75rem;
}

.wristband-body {
  padding: var(--size-100);
  flex: 0 0 100%;
}

.wristband-main-title {
  font-size: 1.9rem;
}

.wristband-cerise {
  background-color: var(--color-cerise);
}

.wristband-blue {
  color: white;
  background-color: var(--color-blue);
}

.wristband-lemon {
  background-color: var(--color-lemon);
}

.wristband-black {
  color: white;
  background-color: black;
}

details summary::marker {
  display: none;
  content: "";
}

.translate-target {
  transition: transform 0.25s;
}

.translate-1 {
  transform: translate(0rem);
}

.translate-2 {
  transform: translate(-40rem);
}

.translate-3 {
  transform: translate(-25rem);
}

.translate-reset:hover .translate-target,
.translate-reset:focus .translate-target {
  transform: translate(-10rem);
}

.content-area-white {
  background-color: white;
  color: black;
}

.content-area-black {
  background-color: black;
  color: white;
}

.content-area {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  overflow: hidden;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
}

.content-area-open {
  height: auto;
  transform: scaleY(100%);
}

.team-area {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.team-area a {
  text-decoration: none;
}

.team-area a:hover,
.team-area a:focus {
  text-decoration: underline;
}

.team-member {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  padding: var(--size-300);
}

.team-member-name {
  font-size: 1.5rem;
}

@media (min-width: 950px) {
  .team-member {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .team-member + .team-member {
    border-left: 1px solid white;
  }

  .team-area {
    flex-direction: row;
    justify-content: center;
  }
}

.about-area {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-300);
  max-width: 65ch;
}

.contact-area {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-100);
  padding: var(--size-300);
}

@media (min-width: 750px) {
  .contact {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .contact + .contact {
    border-left: 1px solid white;
  }

  .contact-area {
    flex-direction: row;
    justify-content: center;
  }
}

.project-area {
  margin: 2rem;
}

.no-wrap {
  white-space: nowrap;
}
